.story-displayImage {
    height: 100vh;
    width: 120vh;
    display: flex;
    background: linear-gradient(135deg, #ff5fbc28, #6f00ff3a);
    padding-left: 2%;
}

.story-displayPDF {
    background-image: url('/public/background_create.jpg');
    background-size: cover;
}