.genre-container {
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.genre-card {
    background-color: #fdf8df;
    width: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    align-items: center;
    padding: 5%;

    margin: auto;
}

.genre-button {
    height: 3.5rem;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

    background-color: #7691e9;

    &:hover {
        background-color: #3d5be0;
    }
}

.genre-button.high-lighted {
    background-color: #761c88;

    &:hover {
        background-color: #4c125f;
    }
}