.format-card {
    align-items: center;
    background-color: #a2c9db;
}

.format-button {
    padding: 1vh;
    background-color: #b6b6b6;
    color: #fff;
    border: .5px solid #ffffff;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin: 1.5vh;
    width: 10rem;
    height: 12.5rem;

    font-size: 1rem;
    font-weight: 500;

    &:hover {
        background-color: #cfcfcf;
    }

    .format-image {
        height: auto;
        width: 100%;
        border-radius: 5px;
        border: 1.5px solid #000000;
    }
}

.format-button.high-lighted {
    background-color: #98d8ff;
    
    &:hover {
        background-color: #b2dffd;
    }
    .format-image {
        height: auto;
        width: 100%;
        border-radius: 5px;
    }
}
