.saved-stories-section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(168, 168, 168);
    overflow: hidden;
  }
  

.saved-stories {
    background-color: #5ad3ff;
    height: 100vh;
    width: 65vw;
    padding: 2.5%;
    margin: auto;
    overflow-y: auto;
}

.saved-stories-container {
    background-color: #fbb8fd80;
    width: 60vw;
    margin: auto;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 9px;
}

.pdf-thumbnail-container {
    margin-top: 10%;
    padding: 4%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 25rem;
    width: 20rem;
    align-items: center;
    display: flex;
    align-content: center;
    background-color: #42c3f6;
    box-shadow: 5px 5px rgba(179, 179, 179, 0.552);

    &:hover {
        transform: scale(1.05);
        background-color: #507ac2;
    }

}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 1%;
    background-color: #ffffff;
}