.saved-stories-section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #66567c, #685c88, rgb(95, 68, 158));
    overflow: hidden;
  }
  

.saved-stories {
    background: linear-gradient(95deg, #6aafff, #3551af, rgb(209, 142, 226));
    height: 100vh;
    width: 65vw;
    padding: 2.5%;
    margin: auto;
    overflow-y: auto;
}

.saved-stories-container {
    background-color: #fbb8fd56;
    width: 60vw;
    margin: auto;
    padding-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 9px;
}

.pdf-thumbnail-container {
    margin-top: 10%;
    padding: 4%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 25rem;
    width: 20rem;
    align-items: center;
    display: flex;
    align-content: center;
    background-color: #42c3f6;
    box-shadow: 5px 5px rgba(179, 179, 179, 0.552);

    &:hover {
        transform: scale(1.05);
        background-color: #507ac2;
        cursor: pointer;
    }

}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 1%;
    background-color: #ffffff;
}

.saved-stories-header {

    height: 5rem;
    margin-bottom: 5%;
    text-align: center;
    padding: 1%;
    background-color: #3551af2f;
    border-radius: 8px;
}
.saved-stories-header h4{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(45deg, #b8dfc5, #c9fcf5, rgb(224, 53, 53));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
