.saved-stories-section {
    width: 100vW;
    height: 100vh;
    background-color: aliceblue;
    overflow: hidden;
}

.saved-stories {
    background-color: rgb(219, 219, 219);
    height: 100vh;
    width: 55vw;
    margin: auto;

    overflow-y: auto;
}

.test {
    text-align: center;
    padding: 2%;
    background-color: rgb(255, 212, 212);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.image-item {
    margin: 1%;
    background-color: rgb(206, 249, 208);
    padding: 1%;
}

.image-thumbnail {
    width: 60%; /* Adjust the width as needed */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
