.styledrop-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.model-button {
    background-color: #20a6c7;
    color: #ffffff;
    padding: 5%;
    margin: 2% 0;
    border: .5px solid #1c0327;
    cursor: pointer;

    &:hover {
        background-color: #2980b9;
    }
}

.model-button.highlighted {
    background-color: #133696;
    color: #fff;
}

.model-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

#model-collaspe {
    background-color: #a0d1f0;
    width: 16rem;
    padding: 5%;
}