.SidePanel {
    background-color: rgba(151, 151, 151, 0.74);
    height: 94vh;
    width: 20vw;
    padding: 1%;
    float: left;
    display: block;
}

.inputContainer {
    background-color: aliceblue;
    min-height: 15vh; 
    border: 1px black solid;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 5vh;
}
.form {
    text-align: center;
}
.generateButton {
    height: 15%; 
    width: 100%;
    margin: auto;
    margin-top: 1vh;
    font-size: 1.5vh;
}

.selectModal-container {
    margin-bottom: 5vh;
}