.story-tab {
    background: linear-gradient(135deg, #a574e4, #c471bf, rgb(33, 10, 131));
    padding: 5%;
}

.form-input {
    text-align: center;
    background: rgb(73, 157, 212);
    padding: 5%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}
.context-input {
    width: 100%;
    margin-top: 1%;
    padding: 5%;
    border-radius: 5px;
    background-color: #ffffffcc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.context-input:focus {
    border-color: #124669;
    outline: none;
}

.submit-story {
    text-align: center;
    margin-top: 10%;
}

.submit-story button {
    background-color: #9834db;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-story button:hover {
    background-color: #7920a2;
}

.page-amount-selection {
    color: white;
    background: rgb(73, 157, 212);
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}