.styles-container {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    flex-wrap: wrap;
}

.style-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vh;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 1vh;
    transition: background-color 0.3s ease;

    margin: .2vh;

    max-width: 4vw;

    font-size: 1.2vh;

    &:hover {
        background-color: #2980b9;
    }

    .style-image {
        height: auto;
        width: 3vw;
    }
}

.styledrop-button {
    background-color: #3498db;

    width: 15vw !important;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
}

#collaspe-card {
    margin-top: 0;
    background-color: #c8d7e0;

    width: 14.8vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .styles-container {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        /* Center items in the container */
    }
}

.highlighted {
    background-color: #1c5d88;

    &:hover {
        background-color: #1c5d88;
      }
}