.style-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vh;
    background-color: #637fdb;
    color: #fff;
    border: .5px solid #b9297d;
    border-radius: 1vh;
    transition: background-color 0.3s ease;

    margin: .2vh;
    width: 5rem;
    height: 6rem;
    font-size: .75rem;

    &:hover {
        background-color: #293fb9;
    }

    .style-image {
        height: auto;
        width: 100%;
    }
}

.style-button.high-lighted {
    background-color: #761c88;
    
    &:hover {
        background-color: #4c125f;
    }
}

/* for the main buttons for some reason */
.styledrop-button {
    background-color: #3498db;

    width: 16rem !important;
    height: 3rem;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 8px;
    cursor: pointer;
    padding: 5% 10%;
    transition: background-color 0.3s ease;
    text-align: left;
  
    &:hover {
      background-color: #2980b9;
    }
}

#collaspe-card {
    margin-top: 0;
    background-color: #d4a6e1b5;
    border-radius: 5px;
    width: 16rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


