.menu-section {
    position: relative;
    margin-top: -.9vh;
}

.menu-button {
    background-color: rgb(111, 127, 142);
    text-align: center;
    height: 5vh;
    width: 5vh;
    font-size: 2vh;
    border-radius: 50%;
    line-height: 5vh; /* Vertically center the text */
    overflow: hidden;
    padding: 0;
}
.menu-button img {
    display: block;
    height: 100%;  
    width: 100%;
}

.menu-dropdown {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;

    padding: 10%;
    width: 15vw;
    margin-top: .5vh;
    background-color: #999999cb;
}

.menu-buttons {
    padding: 5%;
    border-radius: 2.5%;
    background-color: rgb(221, 222, 223);

    color: black;
}

.signout-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 145, 145);
}
.signout-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 98, 98);
}

.saved-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(143, 255, 87);
    margin-bottom: 5%;
}
.saved-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(104, 255, 62);
    margin-bottom: 5%;
}

.create-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(99, 211, 255);
    margin-bottom: 5%;
}
.create-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(49, 190, 255);
    margin-bottom: 5%;
}