.menu-section {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;

    padding: 10%;
    width: 15vw;
    margin-top: .5vh;
    background-color: #999999cb;
}

.menu-buttons {
    padding: 5%;
    border-radius: 2.5%;
    background-color: rgb(221, 222, 223);

    color: black;
}

.signout-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 204, 204);
}
.signout-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 176, 176);
}

.saved-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(132, 220, 255);
    margin-bottom: 5%;
}
.saved-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(62, 194, 255);
    margin-bottom: 5%;
}

.create-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(132, 220, 255);
    margin-bottom: 5%;
}
.create-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(62, 194, 255);
    margin-bottom: 5%;
}