.menu-section {
    position: relative;
    margin-top: -.9vh;
}

.menu-button {
    background-color: rgb(111, 127, 142);
    text-align: center;
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    border: 2px solid rgb(92, 90, 216);
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.menu-button img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    height: 100%;  
    width: 100%;
}

.user-name {
    text-align: center;
    color: rgb(36, 36, 119);
}

.menu-button:hover {
    background-color: rgb(170, 45, 170);
    text-align: center;
    height: 3rem;
    width: 3rem;
    font-size: 2vh;
    border-radius: 50%;
    border: 2px solid rgb(51, 48, 238);
    line-height: 5vh; /* Vertically center the text */
    overflow: hidden;
    padding: 0;
}

.menu-dropdown {
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;

    padding: 10%;
    width: 15vw;
    margin-top: .5vh;
    background-color: #999999cb;

    opacity: 0;
}

.menu-dropdown.show {
    opacity: 1;
    visibility: visible;
}

.menu-buttons {
    padding: 5%;
    border-radius: 2.5%;
    background-color: rgb(221, 222, 223);

    color: black;
}

.signout-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(247, 108, 108);
}
.signout-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(250, 138, 138);
}

.saved-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(115, 236, 54);
    margin-bottom: 5%;
}
.saved-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(104, 255, 62);
    margin-bottom: 5%;
}

.create-stories-button {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(65, 192, 243);
    margin-bottom: 5%;
}
.create-stories-button:hover  {
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(124, 208, 247);
    margin-bottom: 5%;
}

.profile-picture {
    margin-bottom: 5%;
    cursor: pointer;
}
.pfp-image {
    padding: 2%;
    background-color: azure;
}
.pfp-image:hover {
    padding: 1%;
    background-color: rgb(77, 177, 177);
}