.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 168, 168);
}

.Main {
  padding: 0;
  display: flex; 
}

.main-header {
  height: 6vh;
}
#p-title {
  font-size: 3vh;
}

.components {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}