.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(168, 168, 168);
}

.Main {
  padding: 0;
  display: flex;
}

.main-header {
  position: absolute;
  height: 3rem;
  border-width: 0 !important;
  background-color: rgb(171, 219, 247) !important;
  display: flex;
}

#p-title {
  font-size: 1.5rem;
}

.components {
  margin: auto;
  display: flex;
  align-items: center;
}

.display {
  margin: auto;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: .2vw;
  height: .2vh;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 132, 255);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.display-container {
  margin-right: 2.5vw;
}

.side-panel-button {
  width: 0.1rem;
  height: 10rem;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  transition: left 0.3s ease;

  margin-bottom: 5rem;
}

.side-panel-button:hover {
  background-color: rgb(21, 132, 206)
}