.login-page {
    height: 100vh;
    width: 100vw;
    background-image: url('/public/loginBackground.jpg');
    background-size: cover;
}

.login-title {
    font-size: 4vh;
}

.login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: rgba(206, 247, 237, 0.575);
    backdrop-filter: blur(5px);
    width: 60%;
    height: 100%;
}

.login-form {
    justify-content: center;
    margin: auto;
    
    background-color: aliceblue;
    max-width: 40vw;
    max-height: 20rem;
    margin: auto;
    padding: 2%;
    border: 1% solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form input {
    width: 100%;
    padding: .5%;
    margin-bottom: 5%;
    background-color: #f0f9ff;
}

.login-form input:focus {
    width: 100%;
    padding: .5%;
    margin-bottom: 5%;
    background-color: #e0f3ff;
}

.login-form div {
    margin-bottom: 1%;
}

.login-form button {
    font-size: 1rem;
    padding: 2.5% 2.5%;
    margin-right: 5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 1%;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #58a4d6;
}

.signup-button {
    background-color: rgb(28, 172, 121) !important;
}

.login-logo-section {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 5%;


}

.login-logo {
    height: 2rem;
    max-width: 40vw;
}