.login-page {
    height: 100vh;
    width: 100vw;
    background-image: url('/public/loginBackground.jpg');
    background-size: cover;
}

.login-area {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    background-color: rgba(206, 247, 237, 0.575);
    backdrop-filter: blur(5px);
    width: 60%;
    height: 100%;
}

.login-form {
    background-color: aliceblue;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form div {
    margin-bottom: 20px;
}

.login-form button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #58a4d6;
}

.signup-button {
    background-color: rgb(28, 172, 121) !important;
}